
body {
  background: linear-gradient(180.2deg, rgb(84, 47, 102) -6.9%, rgb(35, 9, 31) 76.7%);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

nav a:hover,
nav li.active a {
  color: #CCA34D;
}

.logo {
  max-height: 40px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

.card {
  background: rgba(244, 242, 244, 0.1);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  width: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  margin-left: 80px;
  margin-top:80px;
  position: relative;
}

.girl {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right:100px;
}

.girl img {
  width: 450px;
  height: 450px;
  margin-right: 100px;
}

@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    text-align: center;
  }

  .girl img {
    width: 150px;
  }
}


h1 {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  color: #230e24;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
  text-align: left;
}

.container {
  padding: 10px;
}

p {
  font-size: 16px;
  font-weight: normal;
  color: white;
}

.button-container {
  display: flex;
  align-items: center;
  margin-top: 20px;

  }

.btn {
padding: 12px 25px;
  background: #CCA34D;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
  margin-right: 20px;
}

.btn:hover {
  background: white;
}

.social-icons {
display: flex;
  gap: 30px;
  margin-left: auto;
}

.social-link {
  font-size: 20px;
  color: #CCA34D;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: white;
}

.heading{
  text-align: center;
    margin-top: 50px;
    margin-left: 60px;
  }
  
    .row {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 5px;
      padding: 5px;
      background: rgba(244, 242, 244, 0.0);
      width: fit-content;
      margin-left: 100px;
      border-radius: 10px;
    }
  
    .col {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background: transparent;
    }
  
        .col i {
          font-size: 50px;
      
        }
       .col img{
          width: 80px;
          height: 80px;
          border-radius: 50%;
          margin-left: 20px;
        }

.footer {
margin-top: 100px;
 }

.p{
    text-align: center;
    font-size: 10px;
 }

 footer .email-link {
   text-decoration: none;
   color: #CCA34D;
   font-size: 16px;
   margin-top: 100px;
   margin-bottom: 0;
 }

 footer .email-link:hover {
   color: white;
 }

 footer .social-links a {
   color: #CCA34D;
   padding: 10px 14px;
   border-radius: 50%;
   font-size: 18px;
   transition: all 100ms ease-in-out;
 }

 footer .social-links a:hover {
   color: white;
   background: var(--branding-color);
 }